# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Themes files
web/app/themes/kevinj30_portfolio/node_modules

# caches project
web/app/themes/kevinj30_portfolio/.cache
web/app/themes/kevinj30_portfolio/.parcel-cache

# IDE
/.idea